^\.Rproj.user
^\.Rhistory
^\.RData
^\.Ruserdata
^\.httr-oauth
*~$
^inst/doc
*.pper
.Rhistory
.Rproj.user/469FC358/cpp-definition-cache
.Rproj.user/469FC358/persistent-state
.Rproj.user/469FC358/rmd-outputs
.Rproj.user/469FC358/saved_source_markers
.Rproj.user
.Rproj.user/036E7A55/sources/prop/31D3B1DE
.Rproj.user/036E7A55/sources/prop/3643C77A
.Rproj.user/036E7A55/sources/prop/6FC7E83A
